# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*

# IPython Notebook
.ipynb_checkpoints

# celery beat schedule file
celerybeat-schedule
celerybeat-schedule.db

# dotenv
.env
.test_env

# virtualenv
venv/
ENV/
venv36/
venv38/
.venv/


**/.idea/*
**/.vs_code/*
**/.vscode/*
**/samples


# logs, pid files
celery_log
*.log*
*.log_json*
log.txt
*.pid

.cache/
.ruff_cache/
.pytest_cache/

.DS_Store

documentation/docs/build/*
documentation/docs/source/_build/*


sve/


tmp/
docker/deploy/temp

java_modules/*.jar
models/*

text_extraction_system/templates/index.html
text_extraction_system/templates/bundle.js